<div class="full">>
  <div class="ion-page" id="main">
    <ion-content color="light">
      <ion-grid mode="md">
        <ion-row class="full_size_row">
          <!--  Avaiable Items  -->
          <ion-col>
            <ion-grid>
              <ion-row *ngFor="let type of getSortedTypes()">
                <ion-grid *ngIf="getProductsForType(type).length>0">
                  <ion-row>
                    <ion-title> {{ type.name }}</ion-title>
                    <br>
                  </ion-row>
                  <ion-row>
                    <div *ngFor="let item of getProductsForType(type)">
                      <ion-card class="item-row" *ngIf="item.typeId === type.id">
                        <ion-img class="item-image" *ngIf="item.photoUrl; else noPhoto" [src]="item.photoUrl"></ion-img>
                        <ng-template #noPhoto>
                          <ion-img class="item-image" src="assets/images/pizza.jpg"></ion-img>
                        </ng-template>
                        <ion-card-header class="bottom">
                          <ion-card-title>{{item.title}}</ion-card-title>
                          <ion-card-subtitle>{{item.description}}</ion-card-subtitle>
                          <!--                      <ion-card-subtitle *ngIf="item.price">${{item.price}}</ion-card-subtitle>-->
                          <ion-card-subtitle>Price: ${{displayAmount(getItemCost(item))}}</ion-card-subtitle>
                          <ion-card-subtitle *ngIf="item.quantity > 0">Amount left: {{item.quantity}}</ion-card-subtitle>
                          <ion-card-subtitle class="soldout" *ngIf="item.quantity === 0">SOLD OUT</ion-card-subtitle>
                        </ion-card-header>
                        <ion-list *ngIf="item.product_sizes.length > 0">
                          <div class="subText">Select a Size</div>
                          <ion-select [(ngModel)]="item.product_size_selected"
                                      placeholder="{{item.product_size_selected}}">
                            <ion-select-option *ngFor="let v of item.product_sizes" [value]="v">
                              <ion-label>{{v.size}}</ion-label>
                            </ion-select-option>
                          </ion-select>
                        </ion-list>

                        <ion-list *ngIf="hasSelections(item)">
                          <div class="subText">Selections</div>
                          <div class="select-opt" *ngFor="let selectionKey of selectionKeys(item)">
                            <ion-select [(ngModel)]="item.product_selection_values[selectionKey].selected"
                                        [placeholder]="selectionKey">
                              <ion-select-option *ngFor="let v of item.product_selection_values[selectionKey]"
                                                 [value]="v">
                                {{v.value}}
                                <br>
                                <p *ngIf="v.cost">${{v.cost}}</p>
                              </ion-select-option>
                            </ion-select>
                          </div>
                        </ion-list>
                        <ion-list *ngIf="hasAddOns(item)">
                          <div class="subText">Extras</div>
                          <div class="select-opt" *ngFor="let addOnKey of addOnKeys(item)">
                            <ion-select multiple=true [(ngModel)]="item.product_add_on_values[addOnKey].selected"
                                        [placeholder]="addOnKey">
                              <ion-select-option *ngFor="let v of item.product_add_on_values[addOnKey]" [value]="v">
                                {{v.value}}
                                <br>
                                <p *ngIf="v.cost">${{v.cost}}</p>
                              </ion-select-option>
                            </ion-select>
                          </div>
                        </ion-list>
                        <ion-button color='frese' (click)="addToCart(item)">Add to Cart</ion-button>
                      </ion-card>
                    </div>
                  </ion-row>
                </ion-grid>
              </ion-row>
            </ion-grid>
            <ng-template #loading>
              <ion-spinner name="lines"></ion-spinner>
            </ng-template>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </div>
</div>
