<div class="full">
  <div class="menu" *ngIf="!onMobile() || menuToggled">
    <ion-header>
      <ion-toolbar>
        <img src="assets/images/freseLogo.png" width="140px" height="90px" class="ion-margin"/>
        <div slot="end" class="ion-padding-end">
          <ion-buttons slot="start">
              <ion-button *ngIf="onMobile()" (click)="toggleMenu()">
                <ion-icon name="close"></ion-icon>
              </ion-button>
          </ion-buttons>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-header>

    <ion-toolbar class="cart">
      <ion-title>
        <span>Cart</span> <br>
        <small>* Swipe left to delete</small>
      </ion-title>
    </ion-toolbar>
    </ion-header>
    <ion-content class="full-width">
      <ion-list>
        <ion-item-sliding (ionSwipe)="deleteItem(ii)" *ngFor="let item of cart.items; let ii=index">
          <ion-item *ngIf="item">
            <ion-label>
              <ion-grid>
                <ion-row>
                  <ion-col size="2">
                    <div>{{item.quantity}}</div>
                  </ion-col>
                  <ion-col>
                    <div>{{item.product_name}}</div>
                  </ion-col>
                  <ion-col>
                    <div>${{displayAmount(item.price * item.quantity)}}</div>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <div class="subText" *ngFor="let selectionKey of getSelectionKeys(item)">
                <ion-grid>
                  <div><b>{{selectionKey}}:</b></div>
                  <ion-col class="startSlot subText">
                    {{item.selections[selectionKey].value}}
                  </ion-col>
                  <ion-col class="endSlot">
                    <div *ngIf="item.selections[selectionKey].cost">${{displayAmount(item.selections[selectionKey].cost
                      *
                      item.quantity)}}
                    </div>
                  </ion-col>
                </ion-grid>
              </div>
              <div class="subText" *ngFor="let addOnKey of getAddOnKeys(item)">
                <ion-grid>
                  <div><b>{{addOnKey}}:</b></div>
                  <ion-row *ngFor="let v of getAddOnValues(item, addOnKey)">
                    <ion-col class="startSlot half-width">
                      {{v.value}}
                    </ion-col>
                    <ion-col class="margin endSlot">
                      <div *ngIf="v.cost">${{displayAmount(v.cost * item.quantity)}}</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </ion-label>
          </ion-item>
          <ion-item-options side="end">
<!--            <div>-->
<!--              <ion-icon (click)="deleteItem(ii)" name="trash"></ion-icon>-->
<!--            </div>-->
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      <div class="total-menu">
        <div class="startSlot">
          <div class="subText">
            Subtotal: ${{displaySubtotal()}}<br>
            Est. Tax: ${{displayAmount(getTax(getSubtotal()))}}<br>
          </div>
          <b>Total:</b> ${{displayTotal()}}
        </div>
        <!--        <ion-button color="frese" class="pay-button" (click)="Pay()">Finalize Order</ion-button>-->
        <ion-item class="pay-button" color="frese">
          <button appDebounceClick class="full_button" (debounceClick)="Pay()" [debounceTime]="1000">Finalize Order
          </button>
        </ion-item>
      </div>
    </ion-content>
    <!--</ion-menu>-->
  </div>
  <div class="ion-page" id="main">
    <ion-header>
      <ion-toolbar>
        <img src="assets/images/freseLogo.png" width="140px" height="90px" class="ion-margin"/>
        <div slot="end" *ngIf="!onMobile()">
          <ion-button color="frese" (click)="openPopover($event)">
            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
            About Us
          </ion-button>
        </div>
        <div slot="end" class="ion-padding-end" *ngIf="onMobile()">
          <ion-buttons slot="start">
            <ion-badge (click)="toggleMenu()" *ngIf="cart.items.length>0" class="badge" color="frese">
              <div class="badge-text">
                {{getTotalQuantity()}}
              </div>
            </ion-badge>
            <ion-button class="full-width" (click)="toggleMenu()">
              <ion-icon name="cart"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content color="light">
      <ion-grid mode="md">
        <ion-row class="full_size_row">
          <!--  Avaiable Items  -->
          <ion-col>
            <ion-grid>
              <ion-row *ngFor="let type of this.productTypes">
                <ion-grid *ngIf="getProductsForType(type).length>0">
                  <ion-row>
                    <ion-title> {{ type.name }}</ion-title>
                    <br>
                  </ion-row>
                  <ion-row>
                    <div *ngFor="let item of getProductsForType(type)">
                      <ion-card class="item-row" *ngIf="item.typeId === type.id">
                        <ion-img class="item-image" *ngIf="item.photoUrl; else noPhoto" [src]="item.photoUrl"></ion-img>
                        <ng-template #noPhoto>
                          <ion-img class="item-image" src="assets/images/pizza.jpg"></ion-img>
                        </ng-template>
                        <ion-card-header class="bottom">
                          <ion-card-title>{{item.title}}</ion-card-title>
                          <ion-card-subtitle>{{item.description}}</ion-card-subtitle>
                          <!--                      <ion-card-subtitle *ngIf="item.price">${{item.price}}</ion-card-subtitle>-->
                          <ion-card-subtitle>Price: ${{displayAmount(getItemCost(item))}}</ion-card-subtitle>
                        </ion-card-header>
                        <ion-list *ngIf="item.product_sizes.length > 0">
                          <div class="subText">Select a Size</div>
                          <ion-select [(ngModel)]="item.product_size_selected"
                                      placeholder="{{item.product_size_selected}}">
                            <ion-select-option *ngFor="let v of item.product_sizes" [value]="v">
                              <ion-label>{{v.size}}</ion-label>
                            </ion-select-option>
                          </ion-select>
                        </ion-list>

                        <ion-list *ngIf="hasSelections(item)">
                          <div class="subText">Selections</div>
                          <div class="select-opt" *ngFor="let selectionKey of selectionKeys(item)">
                            <ion-select [(ngModel)]="item.product_selection_values[selectionKey].selected"
                                        [placeholder]="selectionKey">
                              <ion-select-option *ngFor="let v of item.product_selection_values[selectionKey]"
                                                 [value]="v">
                                {{v.value}}
                                <br>
                                <p *ngIf="v.cost">${{v.cost}}</p>
                              </ion-select-option>
                            </ion-select>
                          </div>
                        </ion-list>
                        <ion-list *ngIf="hasAddOns(item)">
                          <div class="subText">Extras</div>
                          <div class="select-opt" *ngFor="let addOnKey of addOnKeys(item)">
                            <ion-select multiple=true [(ngModel)]="item.product_add_on_values[addOnKey].selected"
                                        [placeholder]="addOnKey">
                              <ion-select-option *ngFor="let v of item.product_add_on_values[addOnKey]" [value]="v">
                                {{v.value}}
                                <br>
                                <p *ngIf="v.cost">${{v.cost}}</p>
                              </ion-select-option>
                            </ion-select>
                          </div>
                        </ion-list>
                        <ion-button color='frese' (click)="updateCart(item)">Add to Cart</ion-button>
                      </ion-card>
                    </div>
                  </ion-row>
                </ion-grid>
              </ion-row>
            </ion-grid>
            <ng-template #loading>
              <ion-spinner name="lines"></ion-spinner>
            </ng-template>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </div>
</div>
