<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>Frese Bakery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-title>Entrees</ion-title>
          <ion-item *ngFor="let item of entree;">
            <ion-avatar slot="start">
              <ion-img [src]="item.photoUrl"></ion-img>
            </ion-avatar>
            <ion-label>
              {{ item.description }}
              <p>${{ item.price }}</p>
                <ion-button color='success' (click)="updateCart(item)">Add to Cart</ion-button>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-list>
            <ion-title>Cart</ion-title>
            <ion-item *ngFor="let item of cart.items">
              <ion-label>
                <p>Item: {{ item.description }}</p>
                <p>Price: ${{ item.price }}</p>
                  <ion-icon color='danger' name="remove-circle" (click)="decrement(item)"></ion-icon>
                  {{ item.quantity }}
                  <ion-icon color='success' name="add-circle" (click)="increment(item)"></ion-icon>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-item>Total: ${{ total }}</ion-item>
          <ion-button margin (click)="checkOut(this.cart)">Checkout</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
