<ion-content class="ion-padding">
  <div class="image-container">
    <img src="https://storage.googleapis.com/frese-product-images/catering_1.jpg" alt="Image" class="centered-image">
  </div>
  <div class="image-container">
    <img src="https://storage.googleapis.com/frese-product-images/catering_2.jpg" alt="Image" class="centered-image">
  </div>
  <div class="image-container">
    <img src="https://storage.googleapis.com/frese-product-images/catering_3.jpg" alt="Image" class="centered-image">
  </div>
  <div class="image-container">
    <img src="https://storage.googleapis.com/frese-product-images/catering_4.jpg" alt="Image" class="centered-image">
  </div>
  <div class="image-container">
    <img src="https://storage.googleapis.com/frese-product-images/catering_5.jpg" alt="Image" class="centered-image">
  </div>
</ion-content>
