<ion-header color="dark">
  <ion-toolbar>
    <img src="assets/images/freseLogo.png" width="140px" height="90px" class="ion-margin"/>
    <div slot="end" class="ion-padding-end">
      <ion-button color="frese" (click)="cancelPayment()">
        <ion-icon slot="start" name="close-outline"></ion-icon>
        Close
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form class="full-size" id="payment-form">
    <ion-label>Total: ${{ displayAmount(this.order.total) }}</ion-label>
    <ion-item lines="none">
      <ion-icon slot="start" color="primary" name="calendar"></ion-icon>
      <ion-label>
      {{formatDate()}}
      </ion-label>
    </ion-item>
    <ion-item  class="roundedInput">
      <ion-label position="floating">Name</ion-label>
      <ion-input name="1" [(ngModel)]="customerInfo.name" placeholder="Your Name"></ion-input>
    </ion-item>
    <ion-item  class="roundedInput">
      <ion-label position="floating">Email</ion-label>
      <ion-input name="email" [(ngModel)]="customerInfo.email" placeholder="your@email.com"></ion-input>
    </ion-item>
    <ion-item  class="roundedInput">
      <ion-label position="floating">Phone</ion-label>
      <ion-input type="tel" name="phone" [(ngModel)]="customerInfo.phone" placeholder="123-456-7890"></ion-input>
    </ion-item>
    <ion-item  class="roundedInput">
      <ion-label position="floating">Notes</ion-label>
      <ion-input name="notes" [(ngModel)]="orderNotes" placeholder="123-456-7890"></ion-input>
    </ion-item>
    <ion-item  class="roundedInput">
      <ion-label position="floating">Coupon Code</ion-label>
      <ion-button class="checkmark-button" *ngIf="!couponApplied" (click)="applyCoupon()" slot="end">
        APPLY
      </ion-button>
      <ion-icon *ngIf="couponApplied" slot="end" [style.color]="'#000000'" class="darkicon" name="checkmark-outline"></ion-icon>
      <ion-input class="coupon-input" type="tel" name="coupon" [(ngModel)]="coupon" placeholder="Discount code..."></ion-input>
    </ion-item>
    <div id="express-checkout-element">
    </div>
    <!--    <div id="link-authentication-element">-->
    <!--    </div>-->
    <div id="payment-element">
      <!-- Elements will create form elements here -->
    </div>
    <div id="payment-message" class="hidden"></div>
    <button id="submit">
      <div class="spinner hidden" id="spinner"></div>
      <span id="button-text">Pay now</span>
    </button>
  </form>
</ion-content>
