<ion-header color="dark">
  <ion-toolbar>
    <ion-title>Pickup Time</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        Month
      </ion-col>
      <ion-col>
        Day
      </ion-col>
      <ion-col>
        Hour
      </ion-col>
      <ion-col>
        Minute
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item (click)="showMonthPicker()">
<!--          {{this.formatMonth(this.selections.month)}}-->
          {{this.formatMonth(getMonth())}}
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item (click)="showDayPicker()">
<!--          {{this.selections.day}}-->
          {{this.getDay()}}
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item (click)="showHourPicker()">
<!--          {{this.formatHour(this.selections.hour)}}-->
          {{this.formatHour(this.getHour())}}
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item (click)="showMinutePicker()">
<!--          {{this.selections.minute}}-->
          {{this.getMinute()}}
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--  <ion-list>-->
  <!--    <ion-item>-->
  <!--      <ion-label>Day</ion-label>-->
  <!--      <ion-label (click)="showDayPicker()">{{formatDate()}}</ion-label>-->
  <!--    </ion-item>-->
  <!--    <ion-item>-->
  <!--      <ion-label>Pickup Time</ion-label>-->
  <!--      <ion-datetime display-format="h:mm A" picker-format="h:mm A" [(ngModel)]="todayTime"></ion-datetime>-->
  <!--      &lt;!&ndash;      <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>&ndash;&gt;-->
  <!--    </ion-item>-->
  <!--  </ion-list>-->
  <ion-button color="frese" (click)="submitAndExit()">Confirm</ion-button>
</ion-content>
